* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style-type: none;
cursor: url("./images/cursor-02.svg") 1 1, pointer;
}

/* Globals */

.hoverBlue:hover {
    background-color: blue;
}
.centertext {
    text-align: center;
}
.bgYellow {
    background-color: yellow;
}

.bgBlue {
    background-color: blue;
}
.bgOrange {
    background-color: orange;
}

.bgRed {
    background-color: red;
}

.bgAqua {
    background-color: aqua;
}

.colorWhite {
    color: white;
}
.dInline {
    display: inline;
}

.navbutton {
    border-radius: 12px;
    background-color: rgb(103, 103, 239);
    color: white;
    padding: 10px;

}

/* Header */

.headerHome {
padding: 10px;
}

.navbar {
    margin: 20px;
}

/* Main */

body {
    margin: 0px 120px;
    background-image: url(images/spread_august_BLUE_1445x.webp);
}

hr {
    border: 2px solid black;
}
body {
    padding: 10px;
}
.card {
    border-radius: 25px;
    border: 3px solid transparent;
    margin: 10px;
    padding: 10px;
}
.card:hover {
    border: 3px solid black;
}

.card .primarySchool, .highschool, .university {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
    padding: 10px;
    margin-top: 10px;
    background-color: white;
}

table {
    border-collapse: collapse;
}
